.userRegister {
    width: 25%;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    margin: 50px auto;
    padding: 50px;
}

.userRegisterForm {
    margin-top: 20px;
}

.userRegisterForm .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userRegisterForm .inputGroup label{
    margin-bottom: 5px;
}

.userRegisterForm .inputGroup input{
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
}

.userRegisterForm .inputGroup button{
    border: 0;
    outline: none;
    background-color: rgb(174, 3, 174);
    color: white;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
    border-radius: 0px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 8px rgba(11, 11, 11, 0.065);
    margin-top: 20px;
}

.userRegister h3{
    margin-top: 10px;
}